{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - strona główna{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> Witaj, {% if name %} {{ name }} {% else %} Nieznajomy {% endif %} !</h1>
        {% if not known %}
            <p>Miło Cię poznać!</p>
            {% else %}
            <p>Dobrze Cię znowu widzieć!</p>
        {% endif %}
    </div>

    <div>
        <form method="post">
           {{ wtf.quick_form(form) }}
        </form>
    </div>

    <div>
        <p>Lokalna data i czas: {{ moment(current_time).format('LLLL') }}.</p>
        <p>To było: {{ moment(current_time).fromNow(refresh=True) }}.</p>
    </div>

{% endblock %}